{
  "defaultLedgerFile": "/path/to/ledger",
  "defaultCsvImportDirectory": "/path/to/csv/imports",
  "importAccounts": [
    {
      "label": "BNP account 1",
      "sourceAccount": "Assets:checking",
      "currency": "EUR",
      "format": "bnp",
      "defaultDestinationAccount": "Expenses:misc"
    },
    {
      "label": "Wise account 2",
      "sourceAccount": "Assets:wise-cc",
      "currency": "USD",
      "format": "wise",
      "defaultDestinationAccount": "Expenses:work"
    }
  ]
  "csvFormats": [
    {
      "name": "Format1",
      "dateColumnIndex": 0,
      "descriptionColumnIndex": 3,
      "amountColumnIndex": 4,
      "dateFormat": "dd/mm/y",
      "numberFormat": "###,##",
      "locale": "en_US",
      "lineSkip": 1,
      "valueSeparator": ";",
      "quoteCharacter": ""
    }
  ]
}
